---
---

@import "{{ site.theme }}";

#social-links {
  display: grid;
  background: inherit;
  position: inherit;
  grid-template-columns: repeat(10, auto);
  border: none;
  height: auto;
  min-height: 20px;
}

#social-links > li{
  border: none;
  width: min-content;
}

#logo {
  border: solid medium $primary-highlight-color;
  border-radius: 50%;
  max-width: 70%;
}

#logo:hover {
  border-color: $secondary-highlight-color;
}
