---
layout: default
---

{{content}}

<hr id="testimonial-split">

<div class="bottom">
  <div style="text-align: center;">
    <h5>What people say</h5>
  </div>

  <div class="testimonials">
    {% for testimonial in site.data.testimonials.testimonials %}
    <div class="testimonial">
      <div class="testimony">{{ testimonial.testimony }}</div>
      <div class="author">
        <span>
          {{ testimonial.author.name }}
          {% if testimonial.author.title %}
          ({{ testimonial.author.title }})
          {% endif %}
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>